# **Learning Python** #

## **Basics** ##

In [1]:
1+2+3 #doing math

6

In [2]:
1+2

3

In [3]:
1+2\

3

In [4]:
print(input("What is my name?"))

What is my name? Jane

Jane

In [5]:
print(input("DNA sequence"))

DNA sequence ATGC

ATGC

In [7]:
print(input("ATGC"))

ATGC

In [8]:
input(prompt='Enter your name: ')

Enter your name:  Jane

'Jane'

In [9]:
print('NAME', 'ID', 'AGE', sep='\t')   #adding a seperator to multiple values

NAME	ID	AGE

## **Variables and values** ##

In [10]:
a=2
b=2+1
c=a+b      #assigning values

In [11]:
print(a, b, c)

2 3 5

### **Data types** ###

#### **Integers** ####

In [12]:
1     #denoted as int

1

In [13]:
-2   #negative int

-2

#### **Strings** ####

In [14]:
DNA="ATGC"
type(DNA)

str

In [16]:
aa = """NJSSJSHD JDDJDNNS MSKKSSNS NKXXLLMB DJKCVCMD OPWJAYTB DMXHSGSD NDFJDKDN MJSOEUEK DFKJDFGSDN"""   #enclose in triple double quotes when you have long strings. Allows for spaces and new lines

print(aa)

type(aa)

NJSSJSHD JDDJDNNS MSKKSSNS NKXXLLMB DJKCVCMD OPWJAYTB DMXHSGSD NDFJDKDN MJSOEUEK DFKJDFGSDN

str

#### **Floats** ####

In [17]:
dot = 2.0    #presented by a decimal point

print(dot)

2.0

#### **Booleans** ####

In [18]:
'AT' in DNA #presented as either TRUE or FALSE

True

In [19]:
'GH' in aa

False

### **Arithmetic Operators** ###

> They include:
>
> - Addition(+)
> - Subtraction(-)
> - Division(/)
> - Multiplication(*)
> - Mod(%)
> - Floor division(//)
> - To the power of(**)

In [20]:
3+2

5

In [21]:
3/4

0.75

In [22]:
3/4.0

0.75

In [23]:
3//4  #this gives whole number answers(does not return remainders)

0

In [24]:
3//4.0

0.0

In [25]:
3*2

6

In [26]:
10%15

10

In [27]:
15%10  #% returns the remainder of the division

5

In [28]:
2**2

4

In [29]:
2**2.0

4.0

In [30]:
11**300   #results an overflow of values

2617010996188399907017032528972038342491649416953000260240805955827972056685382434497090341496787032585738884786745286700473999847280664191731008874811751310888591786111994678208920175143911761181424495660877950654145066969036252669735483098936884016471326487403792787648506879212630637101259246005701084327338001

In [31]:
11**300.0

OverflowError: (34, 'Numerical result out of range')

### **Relational Operators** ###

* They are represented as below:

    ![Relational operators](http://www.expertsmind.com/CMSImages/1574_relational%20operator.png)

#### **String operations** ####

* There are four binary operators that act on strings:
  
  1. in
  2. not in
  3. +
  4. *

In [38]:
rna = "AAGGGCTTAGCTTAATTAAAGTGGCTGATTTGCGTTCAGTTGATGCAGAGTGGGGTTTTGCAGTCCTTA"

In [39]:
rna

'AAGGGCTTAGCTTAATTAAAGTGGCTGATTTGCGTTCAGTTGATGCAGAGTGGGGTTTTGCAGTCCTTA'

In [40]:
## check if a given motif is present

"GGCT" in rna

True

In [41]:
## if absent

"TTTA" not in rna

True

In [43]:
"GGCT" + "GGCT"

'GGCTGGCT'

In [44]:
"GGCT" * 2

'GGCTGGCT'